#grid{
  display:grid;
  grid-template-columns:150px 1fr ;
}
#article{
  padding-left: 60px;
}
body{
  margin:0;
}
a {
  color: black;
  text-decoration: none;
}
/* 선택자 우선 순위 id(id(학번, 주민등록 번호)는 중복되어서는 안된다)>class>tag */
h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin:0;
  padding:20px;
} 
ol {
  border-right: 1px solid grey;
  width:100px;
  margin:0;
  padding:20px;
}
#grid ol{
  padding-left: 50px;
}
@media(max-width:800px){
  #grid{
    display:block;
  }
  ol {
    border-right: none;
  }
  h1{
    border-bottom: none;
  }
}